.image__container {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.image__container img {
    width: 400px;
    height: 400px;
    margin: 4rem;
    object-fit: cover;

}

.usernameHeader {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -4rem;

}