.image__container {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.image__container img {
    width: 400px;
    height: 400px;
    margin: 4rem;
    object-fit: cover;

}

.usernameHeader {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -4rem;

}

.product__title {
    font-size: 1rem
}

.tags__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.tag {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.tag:hover {
    background-color: rgb(226, 226, 226);
}

.verified__icon {
    width: 2rem;
    margin-left: 0.4rem;
}

.product__link {
    text-decoration: none;
    color: black;
}

.product__link:hover {
    color: black;
    text-decoration: none;
}