.item__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
}

.item__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.item__container img {
    width: 550px;
    height: 550px;
    margin: 4rem;
    object-fit: cover;

}

.buy__button {}

.buttons {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}


.comments__container {
    display: flex;
    flex-direction: column;
}

.comment__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
}

.comment__form textarea {
    width: 400px;
    height: 120px;
}

.comment__form button {
    width: 80px;
    height: 40px;
}