.header {
    font-size: 3rem;
    margin-top: 3%;
    width: 23rem;
    height: 114px;
    margin-bottom: 7rem;
}

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    margin-top: 5%;

}

.carousel__image {
    height: 500px;
    object-fit: cover;
}

.carousel {
    height: 500px;
    width: 800px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero__left p {
    margin-top: -5rem;
    font-size: 1.5rem;
    width: 75%;
}

.shop__button {
    transition: background-color 200ms ease-in-out;
}

.shop__button:hover {
    background-color: rgb(104, 96, 96);
}

.latestHeader {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}

.posts__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    gap: 2rem;
}

.productImage {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}



@media only screen and (max-width: 460px) {
    .hero__container {
        flex-direction: column;

    }

    .header {
        font-size: 2.5rem;

    }

    .hero__left p {
        font-size: 1.2rem;
        margin-top: -5rem;
    }

    .carousel__image {
        height: 200px;
        object-fit: cover;
    }

    .carousel {
        margin-top: -5rem;
        height: 200px;
        width: 80%;
    }

    .posts__section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productImage {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
    }
}

@media only screen and (max-width: 767px) {
    .hero__container {
        flex-direction: column;

    }

    .carousel__image {
        height: 400px;
        object-fit: cover;
    }

    .carousel {
        margin-top: 2rem;
        height: 400px;
        width: 80%;
    }
}


@media only screen and (max-width: 1368px) {
    .hero__container {
        gap: 0rem;
        width: 100%;
        flex-direction: column;
    }


}

@media only screen and (min-width: 768px) {
    .carousel__image {
        height: 500px;
        object-fit: cover;
        width: 100%;
    }

    .carousel {
        height: 500px;
        width: 800px;
        margin: 2rem;
    }

}