.products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


.product__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.product__container img {
    width: 400px;
    height: 400px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.product__name {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.product__price {
    margin-bottom: 0.5rem;
}

.tag {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    text-align: center;
}

.tag:hover {
    background-color: rgb(226, 226, 226);
}