.logo {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;

}

.navbar__links {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

@media only screen and (min-width: 882px) {
    .navbar__links {
        display: flex !important;

    }
}

.search__bar {
    position: relative;
    padding: 0.5rem;
    width: 20rem;
    height: 40px;
}

.verifiedIcon {
    width: 30px;
}

.search__form__mobile {
    display: none;
}

.burger__open {
    display: none;
}

@media only screen and (max-width: 881px) {
    .navbar__container {}

    .burger__open {
        display: block;
    }

    .navbar__links {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        text-align: center;
        width: 100%;
        right: 0;
        background-color: rgb(230, 221, 221);
        padding: 2rem;
        z-index: 10;

    }

    .search__form {
        display: none;
    }

    .search__form__mobile {
        display: block;

        margin: auto;

    }
}